@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    margin: 0;
    background: #DFC2F2;
    background-image: linear-gradient( to right, #ffffb3,#ffe6e6);    
}

h2{
    margin: 0;
}



/* Custom button ==================================================== */

.styled-btn{
    padding: 1rem 2rem;
    font-size: 1.75rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
	background: #027ad6;
	font-family: "Lato", sans-serif;
    cursor: pointer;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;

}

.styled-btn:hover{
    background-color:#002ead;
    transition: 0.7s;
}

.styled-btn:focus{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px rgb(23, 220, 59);
}

/* Custom p-tag ================================================= */

.p-tag-style{
    margin: 0;
    font-size: 1.125rem;
    padding: 1.5rem;
    font-family: 'EB Garamond', serif;
	text-align: center;
	color: #7d7d7d;
}


/* Header ==================================================== */

.header{
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
}


.header h1{
    font-size: 2.25rem;
    margin:2rem;
    text-transform: uppercase;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'EB Garamond', serif;
}

.header a{
    text-decoration: none;
    color: white;
}

.nav-bar{
    display: flex;
    list-style: none;
    margin-right: 2rem;
}

.nav-bar li {
    margin: 1rem;
}

.nav-bar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.nav-bar a:hover{
    color: #027ad6;
}

/* Connect-area ==================================================== */


.connect-area{
    margin-bottom: 3rem;
}
.connect-your-wallet {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    align-items: center;
    margin: 5rem;

}

.connect-info-text h1 {
    font-size: 4rem;
    
}


.balance{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));;
    
}

.balance__col{
    margin: 2rem;
    background-color: #b4b7bd;
    display: grid;
    justify-items: center;
    box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	border-radius: 5px;
    padding: 2rem 0;
	
	
}

.balance__col h1{
    font-size: 2.5rem;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
	display: inline-block;
	color: #344055;
}

.balance__col button{
    margin-bottom: 1rem;
}


/* .connect-btn__green {
    background: green;
} */


/* Footer ==================================================== */

.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 4rem 0;
}

.footer-logo h1{
  font-size: 3rem;
  margin:.5rem 0 ;
  
}

.footer-logo p{
    width: 20vw;
}

.footer-logo {
    display: flex;
    flex-direction: column;
   

}

.footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.footer li {
    list-style: none;
    padding-bottom: .5rem;
}

.footer a {
    text-decoration: none;
    color: white;
}

.social-links{
    display: flex;
    flex-direction: column;
    
}

.social-links h2{
    margin-bottom: 2rem;
}

.contact-icon {
    font-size: 2rem;
    padding: .25rem;
}


